<div  class="chercher">
	<h2 style="color:black; font-family: 'ABeeZee';">Entrez le mot clé, la ville, la catégorie et hop…. louez !</h2>
<form class="form-control-lg">
  <div class="form-row">
    <div class="col-7" >
   <input class="form-control form-control-lg" type="text" placeholder="Quoi ?"  style="background-color: rgba(255,255,255,0.8);">

    </div>
    <div class="col" >
      <input class="form-control form-control-lg" type="text" placeholder="Ou ?"  style="background-color: rgba(255,255,255,0.8);">
    </div>
    <div class="col" >
   <select id="disabledSelect" class="form-control form-control-lg" style="background-color:rgba(255,255,255,0.8);">
        <option>Catégorie</option>
      </select>
    </div>
    <div class="col">
     <button type="button" class="btn btn-success form-control form-control-lg" style="color:white;">chercher</button>
 </div>
  </div>

</form>

</div>


<div class="mobileForm">
    <form class="form-control-lg">
    <div class="form-row">
        <div class="col-30 my-2" >
       <input class="form-control form-control-lg" type="text" placeholder="Quoi ?"  style="width: 300px;background-color: rgba(255,255,255,0.8);" autofocus>
        </div>
        <div class="col-30 my-2" >
        <input  class="form-control form-control-lg" type="text" placeholder="ou"  style="width: 300px;background-color: rgba(255,255,255,0.8);">
        </div>
      <div class="col-30 my-2" >
        <button type="button" class="btn btn-success form-control form-control-lg" style="width: 300px; color:white; ">chercher <span class="glyphicon glyphicon-search"></span></button>
       </div>
</div>
    </form>
 </div>