<nav class="navbar navbar-light navbar-expand-lg" id="navigation" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <img src="/../../assets/images/logo.jpg" style="margin-right: 20px;">
      <a class="navbar-brand" routerLink="">Accueil</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link" href="#">Notice<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Rechercher un outil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tout-les-publications">voir toutes les demandes </a>
        </li>
      </ul>
      <form class="form-inline my-1 my-lg-0" *ngIf="!isConnected()">
            <button class="btn btn-outline-primary my-0.5 mx-2" (click)="navigation.onInscription()">S'inscrire</button>
       
        <button class="btn btn-outline-success my-0.5 my-sm-0" (click)="navigation.onConnexion()">Connexion</button>
      </form>
    </div>
  </nav>
  