<div class="publicationDiv">
   <div style="margin-bottom: 20px; width: 98%; background-color: white;padding: 20px; padding-right:20px;border-radius: 12px;">
        <strong style="margin-bottom: 10px;">Postez ici votre demande :</strong>
            <form ngSubmit="onSubmit()" #f="ngForm">
       <textarea class="form-control" style="margin: 10px;" name="post" ngModel required minlength="20" id="exampleFormControlTextarea1" rows="5"></textarea>
       <button [disabled]="f.invalid" type="submit" class="btn btn-success" style="position: relative;left: 85%;"> Publier</button>
      <strong *ngIf="f.value['post']!=null?f.value['post'].length>0&&f.value['post'].length<20:false" style="color: red;">minumum 20 caracteres </strong>
    </form>
  </div>
     <app-post *ngFor="let p of posts" [post]="p"></app-post>
</div>