<div class="shadow p-3 mb-5 bg-white rounded smallContrat" id="print" >

    
    <img src="/../../../assets/images/logo.jpg">
<br>
<strong>
   nom du voisin 1 : {{contrat.nom_1}}
    <br>
  nom du voisin 2 :  {{contrat.nom_2}}
    <br>
    on atabli un contrat du location du materiel avec un prix de  € 
   le  {{contrat.date}}
  
</strong>
<p>
sur le site de diy-brico.fr 
</p>
<button class="btn btn-success" style="position: relative;left :75%" (click)="exportAsPDF()">Imprimer Pdf</button>

</div>

